* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  padding: 0;
}

:root {
  --good-color: rgb(121, 201, 110);
  --okay-color: rgb(243, 212, 120);
  --bad-color: rgb(236, 134, 108);
  --main-font-color: rgb(80, 80, 80);
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
}

/* title, input and button ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.title {
  line-height: 4rem;
  border-bottom: 1px solid darkgray;
  color: var(--main-font-color);
  margin: 0;
  margin-bottom: 1rem;
}

.input {
  width: 80%;
  text-align: center;
  border: 1px solid darkgray;
  height: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--main-font-color);
  border-radius: 0.2rem;
}

.button {
  width: 80%;
  background-color: rgb(156, 156, 156);
  border: none;
  height: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: whitesmoke;
  border-radius: 0.2rem;
}

/* search results ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.results {
  color: var(--main-font-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;
}

.results h3 {
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: 1s;
  white-space: nowrap;
}

.results h1 {
  color: var(--main-font-color);
  line-height: 3.5rem;
  border-bottom: 1px solid darkgray;
}

.results p {
  font-size: 1.2rem;
}

.indent {
  padding-left: 2rem;
  border-left: 1px solid var(--main-font-color);
}

.score {
  position: fixed;
  margin: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* hack to remove 1px border on bottom that I could not find the source of */
  /* maybe bug in chrome dev tools */
  transform: translateY(1px);
}

.out-of {
  font-size: 2rem;
  margin: 0;
}

/* modal */
.modal {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  background: whitesmoke;
  max-height: 100vh;
  overflow: auto;
  color: var(--main-font-color);
}

.modal h1,
.modal h3 {
  margin: 0;
  line-height: 2.5rem;
}

.modal-button {
  border: none;
  background: none;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-font-color);
  opacity: 0.4;
  cursor: pointer;
  transition: 0.2s;
}

.modal-button:hover {
  transform: scale(1.2);
}

@media (min-width: 600px) {
  .App {
    flex-direction: row;
    height: 100vh;
    align-items: center;
  }

  .top-container {
    justify-content: center;
  }

  .results {
    justify-content: flex-start;
    overflow-y: auto;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .App {
    flex-direction: row;
    height: 100vh;
  }

  .top-container {
    justify-content: center;
  }

  .results {
    justify-content: center;
    overflow-y: auto;
    width: 50%;
  }
}
